{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Update {{location.name}}'s Details</h2>
    <form action="/location/update/{{location.id}}" method="POST">
        {% csrf_token %}
        <!--Employee Name-->
        <div class="mb-3">
            <label>Location name</label>
            {{ form.name}}
            {% if form.errors.name %}
            <div class="alert alert-danger">
                <strong> {{form.errors.name.as_text|cut:"* " }}</strong>
            </div>
            {% endif %}
        </div>
        <div class="container text-center">
            <button class="btn btn-success">
                Update Location
            </button>
        </div>
    </form>
</div>
{% endblock content %}
