{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Add Department</h2>
    <form action="/department/add/" method="POST">
        {% csrf_token %}
        <!--Employee Name-->
        <div class="mb-3">
            <label> Department Name</label>
            {{ form.name}}
            {% if form.errors.name %}
            <div class="alert alert-danger">
                <strong> {{form.errors.name.as_text|cut:"* " }}</strong>
            </div>
            {% endif %}
        </div>
        <div class="container text-center">
            <button class="btn btn-success">
                Add Department
            </button>
        </div>
    </form>

</div>
{% endblock content %}
