{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Update {{department.name}}'s Details</h2>
    <form action="/department/update/{{department.id}}" method="POST">
        {% csrf_token %}
        <!--Department Name-->
        <div class="mb-3">
            <label>Department name</label>
            {{ form.name}}
            <!-- show error message if any -->
            {% if form.errors.name %}
            <div class="alert alert-danger">
                <strong> {{form.errors.name.as_text|cut:"* " }}</strong>
            </div>
            {% endif %}
        </div>
        <div class="container text-center">
            <button class="btn btn-success">
                Update Department
            </button>
        </div>
    </form>
</div>
{% endblock content %}
