{% extends "base.html" %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
    <div class=" text-center mt-5 ">
        <h1>Schedule Shift</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        {% if form.errors.from_date %}
                        <div class="alert alert-danger">
                            <strong>{{form.errors.from_date.as_text|cut:"* " }}</strong>
                        </div>
                        {% endif %}
                        <form action="/shiftSchedule/add/" method="POST">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <label for="from_date">From Date</label>
                                    {{form.from_date}}
                                </div>
                                <div class="col-md-3">
                                    <label for="to_date">To Date</label>
                                    {{form.to_date}}
                                </div>
                                <div class="col-md-3">
                                    <label for="from_time">From Time</label>
                                    {{form.from_time}}
                                </div>
                                <div class="col-md-3">
                                    <label for="to_time">To Time</label>
                                    {{form.to_time}}
                                </div>
                                <!--location-->
                                <div class="mb-3 ">
                                    <label for="location">Location</label>
                                    {{form.location}}
                                </div>
                            </div>
                            <div class="mb-3 ">
                                {% if form.errors.employee_details %}
                                <div class="alert alert-danger">
                                    <strong>{{form.errors.employee_details.as_text|cut:"* " }}</strong>
                                </div>
                                {% endif %}
                                <label for="employee_details">Select Employees:</label>
                                <table class="table table-light table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>NAME(EMP ID)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for e in form.employee_details %}
                                    <tr>
                                        <td>{{ e }}</td>
                                    </tr>
                                    {%endfor%}
                                    </tbody>
                                </table>
                                <!--Add Employee schedule Button-->
                            </div>
                            <div class="container text-center">
                                <button type="submit" class="btn" style="background-color: #39B5E0;">
                                    Schedule
                                </button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <!-- /.8 -->
        </div>
        <!-- /.row-->
    </div>
</div>
{% endblock content %}
